<h1>Banks</h1>
<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Account #</th>
      <th>Routing #</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @banks.each_with_index do |bank, index| %>
    <tr>
      <td><%= index %></td>
      <td><%= bank.bank_name %></td>
      <td><%= bank.account_number %></td>
      <td><%= bank.routing_number %></td>
      <td>
        <a href="/banks/<%= bank.id %>" data-method="delete" data-confirm="Are You Sure?" type="button" class="btn-xs btn-danger">X</a>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>

<div class="panel panel-default">
  <div class="panel-body">
    <form  action="/banks" method="post">
      <div class="form-group">
        <label for="bankName">Bank Name</label>
        <input type="text" class="form-control" name="bank_name" id="bankName" placeholder="Name">
      </div>
      <div class="form-group">
        <label for="accountNum">Account #</label>
        <input type="password" class="form-control" name="account_number" id="accountNum" placeholder="Account #">
      </div>
      <div class="form-group">
        <label for="routingNum">Routing #</label>
        <input type="password" class="form-control" name="routing_number" id="routingNum" placeholder="Routing #">
      </div>
      <button type="submit" class="btn btn-default">Add</button>
    </form>
  </div>
</div>