<!--Email, first name, last name, password, amt of $$$ -->
<h1>Name: <%= @user.first_name %>  <%= @user.last_name %></h1>
<p>Email: <%= @user.email %></p>
<p>Password: <%= @user.password %></p>
<p>Current Balance: <%= @user.money %></p>

<a class="btn btn-primary" href="/" role="button">Back to Main</a>